<h1>Total spend of money: £ <%= @amount_by_tag %></h1>

<table align="center">
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Shops Name</th>
    <th>Date</th>
  </tr>
  <% @transactions_by_tag.each do |transaction| %>
  <tr>
      <td>£ <%= transaction.value %></td>
      <td><%= transaction.tag.type %></td>
      <td><%= transaction.merchant.name %></td>
      <td><%= transaction.trans_date%></td>
  </tr>
  <% end %>  
</table>