<h1>All of the transactions</h1>
<table align="center">
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Shops Name</th>
    <th>Date</th>
  </tr>

  <% @transactions.each do |transaction| %>
  
  <tr>
      <td>£ <%= transaction.value %></td>    
      <td><a href="/tags/<%=transaction.tag_id %>"><%= transaction.tag.type %></td>
      <td><%= transaction.merchant.name%></td>
      <td><%= transaction.trans_date %></td>
      <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
        <input type="submit" value="delete"/></form></td>
      <td><form action="/transactions/<%= transaction.id %>/edit" method="POST">
        <input type="submit" value="edit"/></form></td>
  </tr>
  <% end %>
</table>



